<div class="container my-3">
  <h1 class="text-center display-3 my-3 my-color">All Courses</h1>
  <div class="row">
    <div class="col-lg-6">
      <input [(ngModel)]="inputString" type="text" placeholder="Course's name/Tag..." class="form-control mb-3" />
    </div>
    <div class="col-lg-4">
      <select [(ngModel)]="selectCategory" class="form-control mb-5">
        <option [value]="all" selected> Categories</option>
        <option [value]="item._id" *ngFor="let item of categories">{{
          item.name
        }}</option>
      </select>
    </div>
    <div class="col-lg-auto">
      <div class="btn btn-search" (click)="searchCourses()">
        <i class="fa fa-search" aria-hidden="true"></i> Search
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="h3" *ngIf="categoryId != null">
        By category: {{ categoryName }}
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="h3 row" *ngIf="!courses.length && !loading">No Result</div>
    <div class="row w-100" *ngIf="loading">
      <div class="lds-roller col-auto mx-auto">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="row" *ngIf="courses.length!=0 && !loading">

      <div class="col-4" *ngFor="let item of courses | paginate: config; let i = index">
        <div class="card mb-3">
          <div class="img-zoom">
            <img routerLink="/course/{{ item._id }}" class="card-img-top" style="height: 220px; cursor: pointer;"
              src="../../assets/img/{{ item.imgPath }}" alt="Card image cap" />
          </div>
          <div class="card-body">
            <h5 class="card-title text-center" style="height: 60px;">
              <a href="/course/{{ item._id }}">{{ item.name }}</a>
            </h5>
            <hr />
            <p class="text-sm mb-2" style="height: 40px;">
              <span class="text-muted float-right">
                <i class="ion ion-clock"></i>
                {{ item.uploadDate | date }}
              </span>
              <small class="font-italic">
                <span class="text-muted">tag</span>
                <span *ngFor="let tag of item.tags"> {{ tag }},</span>
              </small>
            </p>
            <div style="cursor: pointer;" class="border-price my-3" routerLink="/course/{{ item._id }}">
              <p class="h5 text-center text-danger">
                {{ item.view }}
              </p>
            </div>
            <p class="h6 text-center">
              <span class="mr-3 h5"><i class="fa fa-comments-o"></i> {{ item.reviews.length }}
              </span>
              <span class="mr-3 h5"><i class="ion ion-star"></i> {{ item.rating }}
              </span>
              <span class="mr-3 h5"><i class="fa fa-shopping-cart"></i> {{ item.purchasedCount }}
              </span>
            </p>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
  <div class="row">
    <pagination-controls class="col-auto" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>
