<div class="container-fluid mb-4">
  <div class="row my-3">
    <h1 class="col-12 text-center">Manage Promotions</h1>
  </div>
  <div class="row">
    <div class="col-auto ml-auto mt-2">
      <button class="btn btn-add" (click)="showCreatePromotionPopup()">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Promotion
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <div class="table-responsive table-hover">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Code</th>
              <th scope="col">
                Start date <i class="fa fa-sort mx-2" aria-hidden="true"></i>
              </th>
              <th scope="col">
                End date <i class="fa fa-sort mx-2" aria-hidden="true"></i>
              </th>
              <th scope="col">
                Discount(%) <i class="fa fa-sort mx-2" aria-hidden="true"></i>
              </th>
              <th scope="col">
                Total times <i class="fa fa-sort mx-2" aria-hidden="true"></i>
              </th>
              <th scope="col">
                Used count <i class="fa fa-sort mx-2" aria-hidden="true"></i>
              </th>
              <th scope="col">
                User class <i class="fa fa-sort mx-2" aria-hidden="true"></i>
              </th>
              <th scope="col">
                Status <i class="fa fa-sort mx-2" aria-hidden="true"></i>
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let promotion of allPromotions; index as i"
              class="cursor-pointer"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ promotion.code }}</td>
              <td>{{ promotion.start | date: "MMM d, y, h:mm:ss a" }}</td>
              <td>{{ promotion.end | date: "MMM d, y, h:mm:ss a" }}</td>
              <td>{{ promotion.discountPercent }}</td>
              <td>{{ promotion.totalAmount }}</td>
              <td>{{ promotion.usedCount }}</td>
              <td>{{ promotion.userClass }}</td>
              <!-- <td>{{promotion.status}} </td> -->
              <td>
                <select
                  style="width: 130px;"
                  [ngModel]="promotion.status"
                  class="form-control col"
                  (change)="onChange(promotion.code, $event.target.value,i,promotion.status)"
                  id="status_{{i}}"
                >
                  <option value="available">Available</option>
                  <option  value="pending">Pending</option>
                  <option  value="dropped">Dropped</option>
                </select>
              </td>
              <td>
                <button
                  class="btn btn-sm btn-danger"
                  (click)="openModal(isDelete)"
                >
                  <i class="fa fa-trash"></i>
                </button>
                <ng-template #isDelete>
                  <div class="modal-body text-center">
                    <p>Are you sure to delete this promotion?</p>
                    <button
                      type="button"
                      class="btn btn-default"
                      (click)="deletePromotion(promotion.code)"
                    >
                      Yes
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="modalRef.hide()"
                    >
                      No
                    </button>
                  </div>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
